---
- name: Set system hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
    use: systemd
  when: ansible_hostname != inventory_hostname
  tags: ['common', 'common-hostname']

- name: Generate /etc/hosts from inventory
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: '0644'
  tags: ['common', 'common-hosts']

- name: Set system timezone
  community.general.timezone:
    name: "{{ system_timezone }}"
  tags: ['common', 'common-timezone']

- name: Install chrony for time synchronization
  ansible.builtin.dnf:
    name: chrony
    state: present
  tags: ['common', 'common-chrony']

- name: Ensure chronyd service is enabled and running
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: yes
  tags: ['common', 'common-chrony']

- name: Disable SELinux
  ansible.posix.selinux:
    state: disabled
  register: selinux_status
  tags: ['common', 'common-selinux']

- name: Reboot if SELinux was changed
  ansible.builtin.reboot:
    msg: Rebooting to apply SELinux changes
  when: selinux_status.changed
  tags: ['common', 'common-selinux']

- name: Load kernel modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter
  tags: ['common', 'common-kernel-modules']

- name: Persist kernel modules
  ansible.builtin.copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
      overlay
      br_netfilter
    mode: '0644'
  tags: ['common', 'common-kernel-modules']

- name: Create /etc/sysctl.d/99-kubernetes.conf
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-kubernetes.conf
    content: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables  = 1
      net.ipv4.ip_forward                 = 1
    mode: '0644'
  tags: ['common', 'common-sysctl']

- name: Apply sysctl settings
  ansible.builtin.command: sysctl --system
  changed_when: true
  tags: ['common', 'common-sysctl']

- name: Turn off swap
  ansible.builtin.command: swapoff -a
  changed_when: false
  tags: ['common', 'common-swap']

- name: Remove swap from /etc/fstab
  ansible.posix.mount:
    name: swap
    fstype: swap
    state: absent
  tags: ['common', 'common-swap']