---
- name: Check if node is already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf
  tags: ['kube-worker', 'kubeadm-worker-joined-check']

- name: Join worker nodes to the cluster
  ansible.builtin.command: >
    {{ hostvars[groups['masters'][0]]['worker_join_cmd'] }}
  register: join_worker
  changed_when: "'This node has joined the cluster' in join_worker.stdout"
  when: not kubelet_conf.stat.exists
  tags: ['kube-worker', 'kubeadm-join-worker']